.login-form {
  width: 436px;
  height: 535px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #000;
  position: absolute;
  right: 100px;
  top: 400px;
}
.login-form-google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 122px;
  height: 40px;
  border-radius: 16px;
}
.login-form-input {
  border: 1px solid #F6F7FB;
  background-color: #F6F7FB;
  width: 265px;
  height: 52px;
  border-radius: 30px;
  margin: 0 0 20px 0;
}
.login-form-label {
  color: #000;
}
.login-form-login-button {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  color: #fff;
  background-color: #ff751d;
}
.login-form-signup-button {
  width: 125px;
  height: 44px;
  border-radius: 16px;
  color: #000;
}
input::placeholder {
  padding: 0 20px;
}
