.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  background-color: #f5f6fb;
  height: 582px;
  width: 100vw;
  border-radius: 0 0 0 64px;
}
.main-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.background-image {
  background-image: url(../../assets/background.png);
  height: 256px;
}
.title {
  font-size: 102px;
  color: #000;
  margin-right: 350px;
}
.secondary-title {
  font-size: 16px;
  color: #52555f;
  margin-right: 350px;
}
.login-page-icons {
  position: absolute;
  left: 250px;
  bottom: -130px;
}
